<% if current_user %>
  <p> Hola, <%= current_user.username %> </p>
  <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %>
<% else %> 
  <p> No estas conectado </p> 
  <%= link_to 'Registrarse', new_user_registration_path %> 
<% end %>
